version: '2'
services:

    plataformacf:
        image: gcr.io/ordinal-stone-180317/api_crowdfunding:v0.0.3
        build:
          context: .
          dockerfile: Dockerfile
        env_file: .env
        volumes:
            - ./api_crowdfunding:/webhook/
        ports:
            - "8000:8000"
        entrypoint: ["sh", "start.sh"]
